{% extends 'base.html' %}
{% block title %} Helsi :: {{ block.super }}{% endblock %}
{% block content %}
{% load static %}
<section class="u-clearfix u-gradient u-section-1" id="sec-964f">
    <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-contain u-image-round u-radius-14 u-image-1" src="images/helsilogo-9.PNG" alt=""
             data-image-width="70" data-image-height="48" data-href="https://nicepage.dev">
        <h1 class="u-text u-text-1">Шукайте лiкарiв,лiки та клiнiки онлайн</h1>
        <h4 class="u-text u-text-2">Записуйтесь на прийом не виходячи iз дому</h4>
        <a href="https://nicepage.com/c/technology-website-templates"
           class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">знайти</a><span
            class="u-icon u-text-palette-1-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                               viewBox="0 0 52.966 52.966" style=""><use
            xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b6fb"></use></svg><svg class="u-svg-content"
                                                                                               viewBox="0 0 52.966 52.966"
                                                                                               x="0px" y="0px"
                                                                                               id="svg-b6fb"
                                                                                               style="enable-background:new 0 0 52.966 52.966;"><path
            d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
	c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
	C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
	S32.459,40,21.983,40z"></path></svg></span>
        <h6 class="u-text u-text-3"><span class="u-file-icon u-icon u-icon-2"><img src="images/149990.png"
                                                                                   alt=""></span>&nbsp; <span
                class="u-icon"></span>&nbsp;Записатися до лiкаря
        </h6>
        <h4 class="u-text u-text-4">Введiть прiзвище або спецiальнicть</h4>
    </div>
</section>
<section class="u-clearfix u-section-2" id="sec-3ccc">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-gutter-20 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-40 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-size-40">
                                <div class="u-layout-row">
                                    <div class="u-size-35">
                                        <div class="u-layout-col">
                                            <div class="u-container-style u-layout-cell u-shape-rectangle u-size-30 u-layout-cell-1"
                                                 data-animation-name="pulse" data-animation-duration="1000"
                                                 data-animation-direction="" data-href="fd">
                                                <div class="u-container-layout u-container-layout-1">
                                                    <img class="u-image u-image-default u-preserve-proportions u-image-1"
                                                         src="images/img3.PNG" alt="" data-image-width="98"
                                                         data-image-height="20">
                                                    <h6 class="u-text u-text-1">Донорство кровi</h6>
                                                    <div class="u-hover-feature u-image u-image-circle u-preserve-proportions u-image-2"
                                                         alt="" data-image-width="56" data-image-height="45"></div>
                                                    <h6 class="u-custom-font u-font-raleway u-text u-text-2">Запишiть
                                                        себе до списку резерву&nbsp; донорiв кровi<span
                                                                style="font-size: 1rem;"></span>
                                                    </h6>
                                                    <img class="u-image u-image-contain u-image-round u-preserve-proportions u-radius-50 u-image-3"
                                                         src="images/img7.PNG" alt="" data-image-width="79"
                                                         data-image-height="59">
                                                </div>
                                            </div>
                                            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2"
                                                 data-animation-name="pulse" data-animation-duration="1000"
                                                 data-animation-direction="" data-href="asd">
                                                <div class="u-container-layout u-container-layout-2">
                                                    <img class="u-image u-image-default u-preserve-proportions u-image-4"
                                                         src="images/img12.jpg" alt="" data-image-width="125"
                                                         data-image-height="19">
                                                    <h6 class="u-custom-font u-font-raleway u-text u-text-default u-text-3">
                                                        Запис на вакцинацiю&nbsp;</h6>
                                                    <h6 class="u-custom-font u-font-raleway u-text u-text-4">Запишiть
                                                        себе та рiдних на вакцинацiю</h6>
                                                    <img class="u-image u-image-default u-preserve-proportions u-image-5"
                                                         src="images/img13.PNG" alt="" data-image-width="175"
                                                         data-image-height="152">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="u-size-25">
                                        <div class="u-layout-col">
                                            <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-3"
                                                 data-animation-name="flipIn" data-animation-duration="1000"
                                                 data-animation-direction="X" data-href="asd">
                                                <div class="u-container-layout u-valign-bottom u-container-layout-3">
                                                    <h5 class="u-text u-text-5">Замовлення лiкiв</h5>
                                                    <img class="u-image u-image-default u-preserve-proportions u-image-6"
                                                         src="images/img10.PNG" alt="" data-image-width="110"
                                                         data-image-height="24">
                                                    <h6 class="u-custom-font u-font-raleway u-text u-text-6">
                                                        <br>
                                                        <span style="font-size: 1rem;">Пошук i бронювання&nbsp;лiкiв</span>
                                                        <br>
                                                        <span style="font-weight: 700;">&nbsp;<span
                                                                style="font-size: 1.125rem;">зi знижкою</span>
                                </span>
                                                    </h6>
                                                    <img class="u-image u-image-default u-image-7"
                                                         src="images/img11.jpg" alt="" data-image-width="600"
                                                         data-image-height="450">
                                                    <img class="u-image u-image-default u-preserve-proportions u-image-8"
                                                         src="images/img89.PNG" alt="" data-image-width="69"
                                                         data-image-height="79">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="u-size-20">
                                <div class="u-layout-row">
                                    <div class="u-container-style u-layout-cell u-size-35 u-layout-cell-4"
                                         data-animation-name="pulse" data-animation-duration="1000"
                                         data-animation-direction="" data-href="asd">
                                        <div class="u-container-layout u-container-layout-4">
                                            <img class="u-image u-image-default u-preserve-proportions u-image-9"
                                                 src="images/img12-15.jpg" alt="" data-image-width="125"
                                                 data-image-height="19">
                                            <h6 class="u-custom-font u-font-raleway u-text u-text-default u-text-7">
                                                Медзаклади</h6>
                                            <div class="u-hover-feature u-image u-image-circle u-preserve-proportions u-image-10"
                                                 alt="" data-image-width="56" data-image-height="45"></div>
                                            <h6 class="u-custom-font u-font-raleway u-text u-text-8">Знайдiть медичний
                                                заклад&nbsp;зi&nbsp;<br>зручним розташуванням<span
                                                        style="font-weight: 700;"></span>
                                            </h6>
                                            <img class="u-image u-image-default u-preserve-proportions u-image-11"
                                                 src="images/img14.PNG" alt="" data-image-width="67"
                                                 data-image-height="62">
                                        </div>
                                    </div>
                                    <div class="u-container-style u-layout-cell u-size-25 u-layout-cell-5"
                                         data-animation-name="flipIn" data-animation-duration="1000"
                                         data-animation-direction="X" data-href="asd">
                                        <div class="u-container-layout u-container-layout-5">
                                            <div class="u-hover-feature u-image u-image-circle u-preserve-proportions u-image-12"
                                                 alt="" data-image-width="56" data-image-height="45"></div>
                                            <img class="u-image u-image-default u-preserve-proportions u-image-13"
                                                 src="images/img12-13.jpg" alt="" data-image-width="125"
                                                 data-image-height="19">
                                            <h6 class="u-custom-font u-font-raleway u-text u-text-default u-text-9">
                                                Декларацiя з лiкарем</h6>
                                            <h6 class="u-custom-font u-font-raleway u-text u-text-10">Швидкий пошук
                                                лiкаря</h6>
                                            <img class="u-image u-image-default u-preserve-proportions u-image-14"
                                                 src="images/img15.PNG" alt="" data-image-width="71"
                                                 data-image-height="70">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-20 u-size-60-md">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-6"
                                 data-animation-name="customAnimationIn" data-animation-duration="1000"
                                 data-animation-direction="" data-href="asd">
                                <div class="u-container-layout u-container-layout-6">
                                    <img class="u-image u-image-default u-preserve-proportions u-image-15"
                                         src="images/img3-23.PNG" alt="" data-image-width="98" data-image-height="20">
                                    <h3 class="u-custom-font u-font-montserrat u-text u-text-11">Онлайн прийом</h3>
                                    <p class="u-text u-text-12">Отримайте медичну допомогу онлайн</p>
                                    <img class="u-image u-image-round u-preserve-proportions u-radius-2 u-image-16"
                                         alt="" data-image-width="170" data-image-height="165" src="images/img4.PNG">
                                    <div class="u-hover-feature u-image u-image-circle u-image-contain u-preserve-proportions u-radius-10 u-image-17"
                                         alt="" data-image-width="56" data-image-height="45"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<section class="u-clearfix u-section-3" id="sec-1398">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-custom-font u-font-montserrat u-text u-text-1">Найчастiше шукають</h3><span
            class="u-file-icon u-icon u-icon-1" data-href="asd"><img src="images/img24.PNG" alt=""></span><span
            class="u-file-icon u-icon u-icon-2" data-href="asd"><img src="images/img22.PNG" alt=""></span><span
            class="u-file-icon u-icon u-icon-3" data-href="asd"><img src="images/img23.PNG" alt=""></span><span
            class="u-file-icon u-icon u-icon-4" data-href="asd"><img src="images/img189.PNG" alt=""></span><span
            class="u-file-icon u-icon u-icon-5" data-href="asd"><img src="images/img17.PNG" alt=""></span><span
            class="u-file-icon u-icon u-icon-6" data-href="asd"><img src="images/img20.PNG" alt=""></span><span
            class="u-file-icon u-icon u-icon-7" data-href="asd"><img src="images/img18.PNG" alt=""></span><span
            class="u-file-icon u-icon u-icon-8" data-href="asd"><img src="images/img21.PNG" alt=""></span>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-2">Сiмейний ​лiкар</h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-default u-text-3">Дерматовенеролог</h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-default u-text-4">Невролог дитячий </h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-default u-text-5">Ортаринголог </h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-default u-text-6">Терапевт </h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-7">Вакцинацiя </h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-8">Онлайн прийом</h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-9">Педiатр</h6>
        <h3 class="u-custom-font u-font-montserrat u-text u-text-default u-text-10">Як записатись до лiкаря?</h3>
        <img class="u-image u-image-default u-image-1" src="images/img25.PNG" data-image-width="1236"
             data-image-height="396">
        <h6 class="u-custom-font u-font-montserrat u-text u-text-11"> Слідкуйте за медичною карткою та призначеннями
            лікаря онлайн </h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-12">Оберiть лiкаря та зап​ишiться на зручний час </h6>
        <h6 class="u-custom-font u-font-montserrat u-text u-text-13">Прийдiть на прийом у вказаний час без черги </h6>
        <h3 class="u-custom-font u-font-montserrat u-text u-text-14">Переваги сервiсу</h3>
        <div class="u-clearfix u-gutter-36 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-size-38">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-palette-1-light-3 u-radius-50 u-shape-round u-size-30 u-layout-cell-1">
                                <div class="u-container-layout u-container-layout-1">
                                    <h6 class="u-custom-font u-font-montserrat u-text u-text-default u-text-15">Прийом у
                                        зручний час без черги</h6>
                                    <a href="https://nicepage.com/website-builder"
                                       class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-9 u-btn-1">Знайти
                                        лiкаря</a>
                                    <img class="u-image u-image-contain u-image-round u-opacity u-opacity-75 u-radius-19 u-image-2"
                                         src="images/img26.PNG?rand=7abe" alt="" data-image-width="231"
                                         data-image-height="267">
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-palette-2-light-3 u-radius-50 u-shape-round u-size-30 u-layout-cell-2">
                                <div class="u-container-layout u-container-layout-2">
                                    <h4 class="u-custom-font u-font-montserrat u-text u-text-default u-text-16">
                                        Замовлення лiкiв онлайн</h4>
                                    <img class="u-image u-image-round u-radius-25 u-image-3" src="images/img28.PNG"
                                         alt="" data-image-width="148" data-image-height="304">
                                    <h6 class="u-custom-font u-font-montserrat u-text u-text-17">Обирайте аптеки поруч,
                                        замовляйте ліки онлайн та забирайте без черги<span
                                                style="font-size: 1rem;"></span>
                                    </h6>
                                    <a href="https://nicepage.com/c/product-list-html-templates"
                                       class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-9 u-btn-2">Замовити
                                        лiки</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-22">
                        <div class="u-layout-col">
                            <div class="u-container-style u-layout-cell u-palette-4-light-3 u-radius-50 u-shape-round u-size-20 u-layout-cell-3">
                                <div class="u-container-layout u-container-layout-3">
                                    <h6 class="u-custom-font u-font-montserrat u-text u-text-18">Особистий кабiнет
                                        пацiєнта&nbsp;</h6>
                                    <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-4"
                                         src="images/img267.png" alt="" data-image-width="225" data-image-height="225">
                                    <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-5"
                                         src="images/img6.PNG" alt="" data-image-width="56" data-image-height="45"
                                         data-animation-out="0">
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-palette-3-light-3 u-radius-50 u-shape-round u-size-20 u-layout-cell-4">
                                <div class="u-container-layout u-container-layout-4">
                                    <h6 class="u-custom-font u-font-montserrat u-text u-text-19">Страхування дiтей та
                                        дорослих<span style="font-weight: 700;"></span>
                                    </h6>
                                    <img class="u-image u-image-round u-preserve-proportions u-radius-50 u-image-6"
                                         src="images/img6-34.PNG" alt="" data-image-width="56" data-image-height="45">
                                </div>
                            </div>
                            <div class="u-container-style u-gradient u-layout-cell u-radius-50 u-shape-round u-size-20 u-layout-cell-5">
                                <div class="u-container-layout u-container-layout-5">
                                    <h6 class="u-custom-font u-font-montserrat u-text u-text-default u-text-20">
                        <span style="font-weight: 700;">Участь в державній програмі “Досту<span
                                style="font-weight: 700;">
                            <span style="font-weight: 400;"></span>
                          </span>пні ліки”
                        </span>
                                        <span style="font-weight: 700;">
                          <span style="font-weight: 400;"></span>
                        </span>
                                    </h6>
                                    <h6 class="u-custom-font u-font-montserrat u-text u-text-21">Можливість отримувати
                                        відшкодування вартості ліків для електронних рецептів </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="skrollable u-clearfix u-image u-parallax u-section-4" id="sec-b16d" data-image-width="1280"
         data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-font-raleway u-text u-text-body-alt-color u-text-default u-text-1">Helsi —
            це:&nbsp;</h3>
        <h6 class="u-custom-font u-font-raleway u-text u-text-body-alt-color u-text-2"> 231 763<span
                style="font-weight: 700;"></span>
        </h6>
        <h5 class="u-text u-text-default u-text-3">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-font-raleway u-hover-none u-none u-text-hover-white u-text-white u-btn-1"
               href="https://nicepage.com/c/nature-html-templates">24 304 070</a>
        </h5>
        <h5 class="u-text u-text-4">
            <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-font-raleway u-hover-none u-none u-text-hover-white u-text-white u-btn-2"
               href="https://nicepage.com/k/presentation-html-templates">37 134<span style="font-weight: 700;"></span>
            </a>
        </h5>
        <h6 class="u-custom-font u-font-raleway u-text u-text-body-alt-color u-text-default u-text-5">1 <span
                style="font-weight: 700;">
            <span style="font-weight: 400;"></span>
          </span> 312
        </h6>
        <h6 class="u-custom-font u-font-raleway u-text u-text-body-alt-color u-text-default u-text-6">пацiе​нтiв</h6>
        <h6 class="u-custom-font u-font-raleway u-text u-text-body-alt-color u-text-7">записiв щодня</h6>
        <h6 class="u-custom-font u-font-raleway u-text u-text-body-alt-color u-text-default u-text-8">лiкарiв</h6>
        <h6 class="u-custom-font u-font-raleway u-text u-text-body-alt-color u-text-default u-text-9">клiнiк</h6>
    </div>
</section>
<section class="u-clearfix u-section-5" id="sec-9673">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-font-raleway u-text u-text-default u-text-1">Вiдгуки про&nbsp; Helsi</h3>
        <div id="carousel-5989" data-interval="5000" data-u-ride="carousel" class="u-carousel u-slider u-slider-1">
            <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
                <li data-u-target="#carousel-5989" class="u-active u-grey-30 u-shape-circle" data-u-slide-to="0"
                    style="width: 10px; height: 10px;"></li>
                <li data-u-target="#carousel-5989" class="u-grey-30 u-shape-circle" data-u-slide-to="1"
                    style="width: 10px; height: 10px;"></li>
            </ol>
            <div class="u-carousel-inner" role="listbox">
                <div class="u-active u-carousel-item u-container-style u-slide">
                    <div class="u-container-layout u-valign-bottom u-container-layout-1">
                        <p class="u-align-center u-large-text u-text u-text-variant u-text-2">"Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat."</p>
                        <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1280"
                             data-image-height="716"></div>
                        <h4 class="u-align-center u-text u-text-3">Connor Quinn<br>
                        </h4>
                        <h6 class="u-align-center u-text u-text-4">President, CEO</h6>
                    </div>
                </div>
                <div class="u-align-center u-carousel-item u-container-style u-expanded-width u-slide">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <p class="u-align-center u-large-text u-text u-text-variant u-text-5">"Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat."</p>
                        <div alt="" class="u-image u-image-circle u-image-2" src="" data-image-width="256"
                             data-image-height="256"></div>
                        <h4 class="u-align-center u-text u-text-6">Merry Smith<br>
                        </h4>
                        <h6 class="u-align-center u-text u-text-7">Chief Accountant</h6>
                    </div>
                </div>
            </div>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-text-grey-30 u-carousel-control-1"
               href="#carousel-5989" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            </a>
            <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-text-grey-30 u-carousel-control-2"
               href="#carousel-5989" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
                <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            </a>
        </div>
    </div>
</section>
<section class="u-clearfix u-gradient u-section-6" id="sec-c45f">

    <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-font-raleway u-text u-text-1">Бажаєте розмicтити свiй медзаклад та лiкарiв на
            Helsi.me?</h3>
        <h6 class="u-custom-font u-font-raleway u-text u-text-2">Заповнiть заявку&nbsp;та почніть приймати пацієнтів вже
            сьогодні</h6>
        <ul class="u-custom-font u-font-raleway u-text u-text-3">
            <li>Одна з найбільших в Україні медичних систем<br>
            </li>
            <li>Ваші послуги стануть доступними для 3,5 мільйонів користувачів</li>
            <li>Щомісячно записуємо більше 40 000 пацієнтів</li>
            <li>Повноцінна онлайн система ведення прийому лікарем, в тому числі телемедицина</li>
            <li>Безкоштовне навчання роботи в системі та служба підтримки</li>
            <li>Підтримка Електронної медичної картки за стандартом HL</li>
            <li>Щотижневі звіти та статистика прийомів для вашого медзакладу</li>
        </ul>
        <a href="https://nicepage.com/c/tabs-website-templates"
           class="u-active-palette-4-base u-btn u-btn-round u-button-style u-hover-feature u-hover-white u-radius-9 u-border-none u-palette-5-light-3 u-btn-1">Розмiстити
            медзаклад</a>
        <img class="u-image u-image-round u-radius-10 u-image-1" src="images/img30.PNG" alt="" data-image-width="439"
             data-image-height="528">
    </div>
</section>
{% endblock %}


